html,body{
	font-size: 20px;
	font-weight: 300;
	background: #0b486b; /* fallback for old browsers */
 	background: -webkit-linear-gradient(to right, #0b486b, #f56217); /* Chrome 10-25, Safari 5.1-6 */
  	background: linear-gradient(to right, #0b486b, #f56217); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

header{
  	display: flex;
  	flex-direction: row;
  	width: 100%;
  }

/*---------------------------------------------
---------     TOP-LEFT-TOP         ------------
---------------------------------------------*/


.top-left{
  	margin-left: 5em;
  	display: flex;
  	flex-direction: column;
  	width: 75%;
  }

.top-right{
  	width: 20%;
  }


nav{
	width: 100%;
  	background: #fff;
  	margin-top: 3em;
  	/*font-size: 80%;*/
  }

nav a{
  	text-decoration: none;
  	color: #807878;
  }

nav ul{
  	list-style: none;
}

nav ul li{
	display: inline-block;
	margin-right: 2em;
	text-align: center;
	padding: 20px 0px;
	border-right: 1px solid #807878;
	padding-right: 2em;
}

nav ul li:last-of-type{
	border-right: none;
}

nav li a:hover{
	color: #FF4800;
}


/*---------------------------------------------
---------     TOP-LEFT-MIDDLE         ---------
---------------------------------------------*/

.top-left-middle{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 450px;
	flex-basis: 150px;
	border-top: 2px solid red;
	/*flex-grow: 1;*/
}

.top-left-middle .data{
	display: flex;
	flex-direction: row;
}

.food{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://s13.postimg.org/hicdnxnjr/fruits.jpg);
	background-size: cover;
	background-position: center;
	width: 65%;
	color: #fff;
	/*flex-grow: 4;*/
	/*height: 450px;*/
	height: 23rem;
}

.food h1{
	font-weight: 300;
	/*padding-top: 3rem;*/
	padding-left: 1rem;
}

.food p{
	padding-top: 1rem;
	padding-left: 1rem;
	font-size: 80%;
	font-weight: 100;
}

.food p:first-of-type{
	padding-top: 3rem;
	padding-left: 3rem;
	color: red;
	font-size: 110%;
}



.tasty{
	/*flex-grow: 1.1;*/
	display: flex;
	flex-direction: column;
	width: 35%;
}

.top{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://ik.bebodywise.com/mosaic-wellness/image/upload/f_auto,w_1000,c_limit/v1644420648/BW%20BLOG/Untitled-design---2022-02-09T210040.319_11zon.jpg);
	background-size: cover;
	background-position: center;
	height: 8rem;
	text-align: center;
	padding: 50px 50px;
	border-bottom: 5px solid green;
	color: #fff;
}

.top h2{
	font-weight: 300;
}

.top input{
	border-radius: 100px;
	width: 150px;
	padding: 10px 10px;
	margin-bottom: 25px;
}

.top a{
	text-decoration: none;
	background: #EC2020;
	color: #fff;
	margin-top: 5px;
	border-radius: 100px;
	padding: 10px 10px;
}

.bottom img{
	width: 100%;
	height: 10rem;
}

/*---------------------------------------------
---------     TOP-LEFT-BOTTOM         ---------
---------------------------------------------*/

.top-left-bottom{
	margin-top: 15rem;
	background: #D27474;
	display: flex;
	flex-direction: row;
}

.top-left-bottom ul{
	list-style: none;
}

.top-left-bottom li{
	display: inline-block;
	margin-right: 5rem;
}


.top-left-bottom li a{
	text-decoration: none;
	color: #000;
	text-align: center;
	/*padding: 20px 20px;*/
}

.top-left-bottom li i{
	margin-right: 1rem;
}

.top-left-bottom li a:hover{
	color: #fff;
}


/*---------------------------------------------
---------     TOP-RIGHT         ---------
---------------------------------------------*/

.top-right{
	margin-top: 3em;
	margin-left: 1em;
	margin-right: 2em;
}

#image1{
	width: 100%;
	height: 200px;
}

.menu{
	font-size: 80%;
	text-align: center;
	background: #EDE7E7;
	padding-bottom: 0.1px;	
	}

.menu h1{
	font-size: 200%;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	color: #938080;	
}

.menu span{
	text-align: right;
	margin-left: 6em;
}

.special{
	margin-top: 0px;
	font-size: 150%;
	color: #938080;
	/*background-color: #fff;*/
	margin-bottom: 0;
}

.menu p{
	margin: 12px 0;
}

.menu p:nth-child(2n) {
	background: #AE9F9F;
}

#image2{
	width: 100%;
	height: 200px;
	margin-top: 1em;
	margin-bottom: 0;
	padding-bottom: 0;
}
















